.card-body section.row, .modal-body section.row {
  margin: 10px 0px; }
  .card-body section.row:first-child, .modal-body section.row:first-child {
    margin-top: 0px; }
.card-body p:last-child, .modal-body p:last-child {
  margin-bottom: 0px; }

.style-flavor {
  font-size: 1.2em;
  font-style: italic; }

.style-details {
  text-align: justify; }

.style-stat {
  display: inline-block; }
  .style-stat span.glyphicon {
    margin-right: 3px;
    opacity: 0.75; }
  .style-stat span.attr-label {
    display: inline-block;
    font-size: 0.9em;
    opacity: 0.75;
    margin-right: 9px; }
  .style-stat span.attr-value {
    display: inline-block;
    font-weight: bold;
    font-size: 1em; }
