.card-body section.row, .modal-body section.row {
  margin: 10px 0px; }
  .card-body section.row:first-child, .modal-body section.row:first-child {
    margin-top: 0px; }
.card-body p:last-child, .modal-body p:last-child {
  margin-bottom: 0px; }

.style-flavor {
  font-size: 1.2em;
  font-style: italic; }

.style-details {
  text-align: justify; }

.style-stat {
  display: inline-block; }
  .style-stat span.glyphicon {
    margin-right: 3px;
    opacity: 0.75; }
  .style-stat span.attr-label {
    display: inline-block;
    font-size: 0.9em;
    opacity: 0.75;
    margin-right: 9px; }
  .style-stat span.attr-value {
    display: inline-block;
    font-weight: bold;
    font-size: 1em; }

.text-turquoise {
  color: #1abc9c; }

.bg-turquoise {
  padding: 5px 10px;
  background-color: rgba(26, 188, 156, 0.15);
  border-left: 5px solid #1abc9c; }

.text-greensea {
  color: #16a085; }

.bg-greensea {
  padding: 5px 10px;
  background-color: rgba(22, 160, 133, 0.15);
  border-left: 5px solid #16a085; }

.text-emerald {
  color: #2ecc71; }

.bg-emerald {
  padding: 5px 10px;
  background-color: rgba(46, 204, 113, 0.15);
  border-left: 5px solid #2ecc71; }

.text-nephritis {
  color: #27ae60; }

.bg-nephritis {
  padding: 5px 10px;
  background-color: rgba(39, 174, 96, 0.15);
  border-left: 5px solid #27ae60; }

.text-peterriver {
  color: #3498db; }

.bg-peterriver {
  padding: 5px 10px;
  background-color: rgba(52, 152, 219, 0.15);
  border-left: 5px solid #3498db; }

.text-belizehole {
  color: #2980b9; }

.bg-belizehole {
  padding: 5px 10px;
  background-color: rgba(41, 128, 185, 0.15);
  border-left: 5px solid #2980b9; }

.text-amethyst {
  color: #9b59b6; }

.bg-amethyst {
  padding: 5px 10px;
  background-color: rgba(155, 89, 182, 0.15);
  border-left: 5px solid #9b59b6; }

.text-wisteria {
  color: #8e44ad; }

.bg-wisteria {
  padding: 5px 10px;
  background-color: rgba(142, 68, 173, 0.15);
  border-left: 5px solid #8e44ad; }

.text-wetasphalt {
  color: #34495e; }

.bg-wetasphalt {
  padding: 5px 10px;
  background-color: rgba(52, 73, 94, 0.15);
  border-left: 5px solid #34495e; }

.text-midnightblue {
  color: #2c3e50; }

.bg-midnightblue {
  padding: 5px 10px;
  background-color: rgba(44, 62, 80, 0.15);
  border-left: 5px solid #2c3e50; }

.text-sunflower {
  color: #f1c40f; }

.bg-sunflower {
  padding: 5px 10px;
  background-color: rgba(241, 196, 15, 0.15);
  border-left: 5px solid #f1c40f; }

.text-orange {
  color: #f39c12; }

.bg-orange {
  padding: 5px 10px;
  background-color: rgba(243, 156, 18, 0.15);
  border-left: 5px solid #f39c12; }

.text-carrot {
  color: #e67e22; }

.bg-carrot {
  padding: 5px 10px;
  background-color: rgba(230, 126, 34, 0.15);
  border-left: 5px solid #e67e22; }

.text-pumpkin {
  color: #d35400; }

.bg-pumpkin {
  padding: 5px 10px;
  background-color: rgba(211, 84, 0, 0.15);
  border-left: 5px solid #d35400; }

.text-alizarin {
  color: #e74c3c; }

.bg-alizarin {
  padding: 5px 10px;
  background-color: rgba(231, 76, 60, 0.15);
  border-left: 5px solid #e74c3c; }

.text-pomegranate {
  color: #c0392b; }

.bg-pomegranate {
  padding: 5px 10px;
  background-color: rgba(192, 57, 43, 0.15);
  border-left: 5px solid #c0392b; }

.text-clouds {
  color: #ecf0f1; }

.bg-clouds {
  padding: 5px 10px;
  background-color: rgba(236, 240, 241, 0.15);
  border-left: 5px solid #ecf0f1; }

.text-silver {
  color: #bdc3c7; }

.bg-silver {
  padding: 5px 10px;
  background-color: rgba(189, 195, 199, 0.15);
  border-left: 5px solid #bdc3c7; }

.text-concrete {
  color: #95a5a6; }

.bg-concrete {
  padding: 5px 10px;
  background-color: rgba(149, 165, 166, 0.15);
  border-left: 5px solid #95a5a6; }

.text-asbestos {
  color: #7f8c8d; }

.bg-asbestos {
  padding: 5px 10px;
  background-color: rgba(127, 140, 141, 0.15);
  border-left: 5px solid #7f8c8d; }
