.card-body, .modal-body {
  section.row {
    margin: 10px 0px;

    &:first-child {
      margin-top: 0px;
    }
  }

  p:last-child {
    margin-bottom: 0px;
  }
}

.style-flavor {
  font-size: 1.2em;
  font-style: italic;
}

.style-details {
  text-align: justify;
}

.style-stat {
  display: inline-block;

  span.glyphicon {
    margin-right: 3px;
    opacity: 0.75;
  }

  span.attr-label {
    display: inline-block;
    font-size: 0.9em;
    opacity: 0.75;
    margin-right: 9px;
  }

  span.attr-value {
    display: inline-block;
    font-weight: bold;
    font-size: 1em;
  }
}