.item-card {
  border: 1px solid #DDD;
  border-radius: 4px;
  margin-bottom: 15px;

  .card-header {
    padding: 10px 15px;
    border-bottom: 1px solid #EEE;
    background: #F5F5F5;
    overflow: hidden;

    p {
      font-size: 16px;
      line-height: 1.1;
      font-weight: 500;
      margin-bottom: 0;
    }
  }

  .card-body {
    padding: 10px 15px;
    height: 14px*1.428*9;
    font-size: 12px;
    overflow: auto;

    .body-header {
      font-size: 12px;
      font-weight: 700;
      color: #959595;
      letter-spacing: 1px;
      margin-bottom: 3px;
    }

    .body-content {
      margin-bottom: 10px;
      p {
        margin-bottom: 2px;
      }
    }
  }

  .card-links {
    padding: 5px 0px;
    overflow: hidden;
  }

  .card-footer {
    padding: 10px 15px;
    border-top: 1px solid #EEE;
    overflow: hidden;
  }
}