.item-link-wrapper {
  padding: 0px;
}

.item-link {
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 6px;
  overflow: hidden;
  margin: 2.5px;
  background-color: #F5F5F5;

  p {
    line-height: 1.8;
    margin-bottom: 0;
  }
}