.item-card {
  border: 1px solid #DDD;
  border-radius: 4px;
  margin-bottom: 15px; }
  .item-card .card-header {
    padding: 10px 15px;
    border-bottom: 1px solid #EEE;
    background: #F5F5F5;
    overflow: hidden; }
    .item-card .card-header p {
      font-size: 16px;
      line-height: 1.1;
      font-weight: 500;
      margin-bottom: 0; }
  .item-card .card-body {
    padding: 10px 0px;
    height: 179.928px;
    font-size: 12px;
    overflow: auto; }
  .item-card .card-links {
    overflow: hidden; }
  .item-card .card-footer {
    padding: 10px 15px;
    border-top: 1px solid #EEE;
    overflow: hidden; }

.item-link-wrapper .item-link {
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 6px;
  overflow: hidden;
  margin: 2.5px 0px;
  background-color: #F5F5F5; }
  .item-link-wrapper .item-link p {
    line-height: 1.8;
    margin-bottom: 0; }

.adventure-card .card-body {
  height: auto;
  padding-bottom: 0; }

.encounter-card .style-flavor {
  font-size: 0.9em; }
